@model HealthCare.API.Models.patientimageviewmodel

@{
    ViewData["Title"] = "ConverttoRGB";
}

<h1>Convert to RGB</h1>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
          src="@Model.Imagerbmp"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
    />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
         src="@Model.Imagegbmp"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
    
  </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="@Model.Imagebbmp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="@Model.Imagenormal"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="@Model.Binaryimage"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
             </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <img src="@Model.BinaryOrginal"
         class="w-100 shadow-1-strong rounded mb-4"
         alt="Boat on Calm Water" />
</div>
   @* <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <img src="@Model.ImageFullPath"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>*@   
    
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <img src="@Model.Scramble"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>   
   
     <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

        <img src="@Model.T"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>
</div>
<hr />
    @*Histogram Image *@
<h1><center> Histogram Image </center></h1>
    <table class="table">       
        <thead class="thead-dark">
            <tr>
                <th scope="col">Original Image</th>
                <th scope="col">Histogram Original Image</th>
                <th scope="col">Scrambled Image</th>
                <th scope="col">Histogram Scrambled Image</th>               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><img src="@Model.ImageFullPath" width="250" height="200" /></th>
                <td>
                    <img src="@Model.HistogrameOrginae" width="250" height="200" />                         
                </td>
                <td>
                    <img src="@Model.Scramble" width="250" height="200"/>
                </td>
                <td> <img src="@Model.Histograme" width="250" height="200"</td>               
            </tr>
        </tbody>
    </table>
<hr style="width:100%;text-align:left;margin-left:0">


<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Entropy</th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> <img src="@Model.T" width="350" height="300" /> </th>
            <td>@Model.Entropyorginal</td>         
         
        </tr>
        <tr>
            <th scope="row"><img src="@Model.Scramble" width="350" height="300" /></th>
            <td>@Model.Entropyscample</td>           
            
        </tr>
       
    </tbody>
</table>
<br/>
<h1> The NPCR values between pixels in original image and scrambled image</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Original Image</th>
            <th scope="col">Scrambled Image</th>
            <th scope="col">NPCR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> <img src="@Model.T" width="350" height="300" /> </th>
            <th scope="row"><img src="@Model.Scramble" width="350" height="300" /></th>
            <td>@Model.NPCR</td>

        </tr>      

    </tbody>
</table>
<hr />
@*correlation coffecient *@
<h1> The Correlation cofficient rate between pixel in the original and Scrambled Images </h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Original Image</th>
            <th scope="col">Scrambled Image</th>
            <th scope="col">The Correlation cofficient(H)</th>
            <th scope="col">The Correlation cofficient(V)</th>
            <th scope="col">The Correlation cofficient(D)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th ><img src="@Model.ImageFullPath" width="250" height="200" /></th>
            <td><img src="@Model.Scramble" width="250" height="200" /></td>
            <td>@Model.corrhorizontal</td>
            <td>@Model.corrvertical</td>
            <td>@Model.corrdiagnol</td>           
        </tr>       
    </tbody>
</table>
<hr />
@*Xor operation between scramble image and generate image from key  *@
<h1> Xor operation between scramble image and generate image from key  </h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Scrambled Image</th>
            <th scope="col">Key Image </th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><img src="@Model.Scramble" width="250" height="200" /></th>
            <td><img src="@Model.Xorimage" width="250" height="200" /></td>           
        </tr>
    </tbody>
</table>

@*Histogram between scramble image and xor operation image  *@

<h1><center> Histogram between scramble image and xor operation image </center></h1>
<table class="table">
    <thead class="thead-dark">
        <tr>         
            <th scope="col">Scrambled Image</th>
            <th scope="col">Histogram Scrambled Image</th>
            <th scope="col">xor operation image</th>
            <th scope="col">Histogram xor operation image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="@Model.Scramble" width="250" height="200" />            </td>
            <td> <img src="@Model.Histograme" width="250" height="200"</td>
            <th><img src="@Model.Xorimage" width="250" height="200" /></th>            <td>
                <img src="@Model.HistogramXorimagePng" width="250" height="200" />
            </td>          
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Entropy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> <img src="@Model.Scramble" width="250" height="200" /> </th>
            <td>@Model.Entropyscample</td>

        </tr>
        <tr>
            <th scope="row"><img src="@Model.Xorimage" width="250" height="200" /></th>
            <td>@Model.Xorentropy</td>

        </tr>

    </tbody>
</table>
<hr />
<h1> The NPCR values between pixels inScrambled image and xor operation image</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Scrambled Image</th>
            <th scope="col">xor operation image</th>
            <th scope="col">NPCR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> <img src="@Model.Scramble" width="350" height="300" /> </th>
            <th scope="row"><img src="@Model.Xorimage" width="350" height="300" /></th>
            <td>@Model.NPCRXorimage</td>

        </tr>

    </tbody>
</table>
@*correlation coffecient *@
<h1> The Correlation cofficient rate between pixel in the Scrambled image and xor operation image </h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Scrambled Image</th>
            <th scope="col">xor operation image</th>
            <th scope="col">The Correlation cofficient(H)</th>
            <th scope="col">The Correlation cofficient(V)</th>
            <th scope="col">The Correlation cofficient(D)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><img src="@Model.Scramble" width="250" height="200" /></th>
            <td><img src="@Model.Xorimage" width="250" height="200" /></td>
            <td>@Model.corrhorizontalxorimage</td>
            <td>@Model.corrverticalxorimage</td>
            <td>@Model.corrdiagnolxorimage</td>
        </tr>
    </tbody>
</table>
<hr />
@*Chaotic5d *@
<h1> chaotic5d </h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Chaotic5d</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><img src="@Model.Chaotic5d" width="250" height="200" /></th>
           
        </tr>
    </tbody>
</table>
<hr />