@model HealthCare.API.Data.Entities.Patient
@{
    ViewData["Title"] = "DetailsPatient";
}

<h1>Details Patient</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h2>History</h2>

<div>
    <h4>patients</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.bloodType.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.bloodType.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Natianality.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Natianality.Description)
                </dd>
                 <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.City.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.City.Description)
                </dd>
                   <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.gendre.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.gendre.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MobilePhone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MobilePhone)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <img src="@Model.ImageFullPath" style="width: 200px; height: 200px; max-width: 100%; height: auto;" />
        </div>
    </div>
</div>
<div>
    @if ((User.IsInRole("Admin")) || (User.IsInRole("User")))
    {
        <a asp-action="AddHistory" asp-route-id="@Model.Id" class="btn btn-primary">Add History</a>
    }
    <a asp-action="EditPatient" asp-route-id="@Model.Id" class="btn btn-warning">Edit Patient</a>
    <a asp-action="Details" asp-route-id="@Model.User.Id" class="btn btn-success">Details</a>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Historias</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().DateLocal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().user.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().allergies)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().illnesses)
                            </th>
                             <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().surgeries)
                            </th>
                              <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().Result)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.histories.FirstOrDefault().DetailsCount)
                            </th>
                          
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.histories)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateLocal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.allergies)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.illnesses)
                                </td>
                                  <td>
                                    @Html.DisplayFor(modelItem => item.surgeries)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Result)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetailsCount)
                                </td>                              
                               
                                <td>
                                   @if ((User.IsInRole("Admin")) || (User.IsInRole("User")))
                                    {
                                        <a asp-action="EditHistory" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    }
                                    <a asp-action="DetailsHistory" asp-route-id="@item.Id" class="btn btn-info">Details<i class="glyphicon glyphicon-align-justify"></i></a>
                                   @if ((User.IsInRole("Admin")) || (User.IsInRole("User")))
                                    {
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Englishjson"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ],
                "order": [[0, "desc"]]
            });

            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Users/DeleteHistory/', false);
        });
    </script>
}
